{
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  },
  "presets": [
    "env"
  ],
  "plugins": [
    "add-module-exports",
    "transform-runtime"
  ],
  "ignore": [
    "node_modules/",
    "**/wallaby/wallaby/**"
  ]
}
